footer
    ul.footer-ul
        li.nav-list
            a.nav-links(href='') About Us
        li.nav-list
            a.nav-links(href='') Ios App
        li.nav-list
            a.nav-links(href='') Android App
        .social
            a(href='')
                i.fab.fa-twitter-square
            a(href='')
                i.fab.fa-facebook-square
            a(href='')
                i.fab.fa-instagram
