extends base
block content
    link(rel='stylesheet', href='../css/style.css')
    .body-bg
        .login-box
            form.reset( data-token=`${token}`)
                .login-form-entry
                    label(for='password') New Password
                    input(type='password', placeholder='Password').password
                .login-form-entry
                    label(for='password') Confirm Password
                    input(type='password', placeholder='Password').confirmPassword
                .login-form-entry
                    button.btn.btn-full(href='javascript:;' , type="submit") UPDATE
    script(src="../js/frontend.js")
    script(src="../js/script.js")


