doctype html
html
    head    
        title #{title}
        link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css', crossorigin='')
        link(rel='stylesheet', href='./css/style.css')
    body
        block header
            include nav
        block content
            h1 i am a placeholder where actual pages will appear in child pages 
        include footer
        script(src="https://js.stripe.com/v3/")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="js/frontend.js")
        script(src="js/script.js")