extends base
block content
    .body-bg
        .login-box
            form.forget
                .login-form-entry
                    label(for='email') Email
                    input(type='email', placeholder='Enter your email').email
                .login-form-entry
                    button.btn.btn-full(type="submit") SEND EMAIL
                