section#details.how-to
    h2 STEPS TO FOLLOW
    .steps-parent
        .img-container
            img.howto-img(src='./img/Capture.PNG', alt='')
        .steps
            .steps-container.clearfix
                .step-val 1
                p.steps-para Choose the subscription plan that best fits your needs and sign up today
            .steps-container.clearfix
                .step-val 2
                p.steps-para
                    | Order your delicious meal using our mobile app or website. Or you can even
                    | call us!
            .steps-container.clearfix
                .step-val 3
                p.steps-para Enjoy your meal after less than 20 minutes. See you the next time!
